body, div, p {
  margin: 0px auto;
  padding: 0px;
}

body {
  font-family: Helvetica, Tahoma, Arial;

  background-color: #EEE;
  background-image: -webkit-repeating-linear-gradient(0deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  background-image: -moz-repeating-linear-gradient(0deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  background-image: -o-repeating-linear-gradient(0deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  background-image: repeating-linear-gradient(0deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  max-width: 800px;
}



h1 {
  text-align: center;
  margin: 0px;
  font-size: 200%;
  color: #FFF;
  font-variant: small-caps;
  text-shadow: 2px 2px 5px #888;
}



#top_interface h1#title {
  font-size: 400%;
}

#top_interface .wca_logo_top {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-top: -15px;
}

#top_interface span.beta {
  vertical-align: top;
  font-size: 30%;
  color: #00c0c0;
  text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF, 0px 0px 15px #FFF, 0px 0px 20px #FFF;
}



#updates {
  padding: 1em;
  margin: 1em;
  font-family: Helvetica;
  border-radius: 1em;
  background: #00C0C0;
  display: none;
  padding: 4px;
}

#updates.visible {
  display: block;
}

#updates h2 {
  margin: 0px 0px 4px;
}

#updates > ul {
  clear: both;
  font-family: monospace;
  background: #FFF;
  border-radius: 8px;
  margin: 8px;
  padding: 12px;
}

#updates > ul > li {
  margin-left: 2em;
}



.interface {
  padding: 1em;
  margin: 1em;
  font-family: Helvetica;
  border-radius: 1em;
  background: #00c0c0;
}

#about {
  display: none; /* To simplify the interface when it loads. */
}

@media print {
    #updates, .interface, #about, .unsupported {
        display: none !important;
    }

    body {
      background: none;
    }    
}



#top_interface #goButton {
  font-size: 200%;
  padding: 0.1em 1em;
}

#top_interface #competitionName {
  font-size: 150%;
  width: 20em;
  text-align: center;
}



#events_rounds_interface #events_table {
  border-collapse: collapse;
  background: #CCC;
  box-shadow: 2px 2px 5px #888;
  margin: 12px;
  font-size: 1.2em;
}

#events_rounds_interface #events_table tr {
  padding: 0px;
  margin: 0px;
}

#events_rounds_interface #events_table td {
  padding: 0px;
  margin: 0px;
}

#events_rounds_interface #events_table td {
  border-top: 1px solid #888;w
  border-bottom: 1px solid #888;
}

#events_rounds_interface #events_table td.event_amount_label {
  border-left: 1px solid #888;
  text-align: right;
  padding: 4px;
  padding-left: 8px;
}

#events_rounds_interface #events_table td.event_amount_value_td {
  border-right: 1px solid #888;
  padding-right: 4px;
}

#events_rounds_interface #events_table input.event_amount_value {
  font-size: 20px;
  width: 50px;
}



#events_rounds_interface #rounds_table {
  border-collapse: collapse;
  background: #CCC;
  box-shadow: 2px 2px 5px #888;

  clear: both;
  margin: 12px;
}

#events_rounds_interface #rounds_table tr {
  border: 1px solid #888;
}

#events_rounds_interface #rounds_table thead td {
  height: 2em;
  padding: 0px 8px;
  font-weight: bold;
}

#events_rounds_interface #rounds_table td {
  padding: 0px 4px;
  height: 1.5em;
  text-align: center;
}

#events_rounds_interface #rounds_table tbody td:nth-child(even) {
  background: #DDD;
}

#events_rounds_interface #rounds_table td.event_name {
  font-weight: bold;
  text-align: right;
  padding: 4px 8px;
}

#events_rounds_interface #rounds_table td input {
  font-size: 1em;
}

#events_rounds_interface #rounds_table td input.round_name {
  width: 10em;
}

#events_rounds_interface #rounds_table td.round_remove button {
  height: 100%;
}

#events_rounds_interface #rounds_table td input.num_groups {
  width: 3em;
}

#events_rounds_interface #rounds_table td input.num_solves {
  width: 3em;
}



.scramble_set {
  margin: 1em auto;
  width: 640px;
}

/* Page break before any scramble set that follows another. */
.scramble_set + .scramble_set {
  page-break-before: always;  
}



.scramble_set .info_table td { text-align: center; }
.scramble_set .info_table td:first-child { text-align: left; }
.scramble_set .info_table td:last-child { text-align: right; }

.scramble_set .scramble_table td { text-align: left;}
.scramble_set .scramble_table td.number { text-align: center; font-size: 32px; }
.scramble_set .scramble_table td.drawing { text-align: center; }

.scramble_set .footer_table td { text-align: center; }
.scramble_set .footer_table td:first-child { text-align: left; }
.scramble_set .footer_table td:last-child { text-align: right; }



.scramble_set .info_table {
  padding: 8px;
  background: #00c0c0;
  border: 1px solid #00c0c0;
  border-bottom: none;
  border-radius: 1em 1em 0em 0em;

  font-weight: bold;
  width: 100%;
}

.scramble_set .info_table thead td {  
  font-size: 1.5em;
  padding: 0px 12px;
}



.scramble_set .scramble_table {
  width: 100%;
  font-weight: bold;
  border-collapse: collapse;

  z-index: 4;
  background: #FFF;
}

.scramble_set .scramble_table td {
  border: 1px solid #00c0c0;
  padding: 4px 8px;
  line-height: 150%;
}

.scramble_set .scramble_table a.scramble_link {
  text-decoration: none;
  color: #000;
}

.scramble_set .scramble_table a.scramble_link:hover {
  text-decoration: underline;
}

.scramble_set .scramble_table .drawing {
}



.scramble_set .scramble_table .loading_scramble {
  
  background-color: #FAA;
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);

  -webkit-animation: loading_scramble_frames 2s infinite linear;
  -moz-animation: loading_scramble_frames 2s infinite linear;
  animation: loading_scramble_frames 2s infinite linear;
}

@-webkit-keyframes loading_scramble_frames {
  0% {background: #8DD;}
  50% {background: #FFF;}
  100% {background: #8DD;}
}

@-moz-keyframes loading_scramble_frames {
  0% {background: #8DD;}
  50% {background: #FFF;}
  100% {background: #8DD;}
}

@keyframes loading_scramble_frames {
  0% {background: #8DD;}
  50% {background: #FFF;}
  100% {background: #8DD;}
}

.scramble_set .scramble_table .loading_scrambler {
  
  background-color: #FAA;
  background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);

  -webkit-animation: loading_scrambler_frames 2s infinite linear;
  -moz-animation: loading_scrambler_frames 2s infinite linear;
  animation: loading_scrambler_frames 2s infinite linear;
}

@-webkit-keyframes loading_scrambler_frames {
  0% {background: #D88;}
  50% {background: #FFF;}
  100% {background: #D88;}
}

@-moz-keyframes loading_scrambler_frames {
  0% {background: #D88;}
  50% {background: #FFF;}
  100% {background: #D88;}
}

@keyframes loading_scrambler_frames {
  0% {background: #D88;}
  50% {background: #FFF;}
  100% {background: #D88;}
}



/*
 * Tweaks for individual scramblers.
 */

.scramble_table td.scramble_333, .scramble_table td.scramble_333bf, .scramble_table td.scramble_333oh, .scramble_table td.scramble_333fm, .scramble_table td.scramble_333ft {
  font-size: 150%;
}

.scramble_set .scramble_table td.number_333mbf, .scramble_set .scramble_table td.scramble_333mbf, .scramble_set .scramble_table td.drawing_333mbf {
  padding: 2px 4px 0px;
  font-size: 16px;
  line-height: 1em;
}

.scramble_table td.scramble_222 {
  font-size: 200%;
}

.scramble_table td.scramble_pyram {
  font-size: 180%;
}

.scramble_table td.scramble_666 {
  font-size: 120%;
}

.scramble_table td.scramble_777 {
  font-size: 110%;
}

.scramble_table td.scramble_minx {
  font-family: monospace;
  font-size: 90%;
}

.scramble_table td.scramble_clock {
  font-family: monospace;
  font-size: 140%;
}



.scramble_set .footer_table {
  width: 100%;
  padding: 8px;
  background: #00c0c0;
  border: 1px solid #00c0c0;
  border-top: none;
  border-radius: 0em 0em 1em 1em;

  z-index: 7;
}

.scramble_set .footer_table .wca_logo {
  width: 40px;
  height: 40px;
  margin: -5px;
}